<h5>Photos de classes</h5>
<button mat-flat-button *ngIf="isConnected" color='accent' (click)="onAddPhoto()">
    Ajouter une photo de classe..
</button>
<div *ngFor="let p of globalService.listePhotos">
    <mat-card class="card">
    <mat-card-title>{{p.titre}} par : {{p.nomAuteur}} (Cliquez sur la  photo pour l'agrandir.)</mat-card-title>
    <mat-card-subtitle>{{p.annee}}</mat-card-subtitle>
    <img class="img" src={{p.photo}} alt="Photo introuvable" (click)="onSurvol(p)"> 
    <mat-card-content class="card-container">
        <div>
            <pre>{{p.listeEleves}}</pre>
        </div>
        <div class="button-row">
            <button  mat-flat-button color="primary" *ngIf="canWrite" (click)="onEdit(p)">Modifier la liste des élèves</button>
        </div>
    </mat-card-content>
</mat-card>
</div> 
  